html,
body {
    width: 100vw;
}


/*side nav starts here*/

#head {
    height: 530px;
    /*    width: 100vw;*/
    text-align: center;
    background-size: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: aqua;
    padding: 0;
    background-image: url(../images/transition.gif);
    color: #F3EFE0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1.8s;
    margin-right: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 0px;
}

#burger {
    float: left;
    padding: 20px;
}


/*for side nav ends here*/

img {
    height: 40vh;
    width: 40vw;
}

.titles {
    font-size: 30px;
}

.description {
    height: 40vh;
    font-size: 20px;
}

.headings {
    text-align: center;
    margin-top: 40px;
}

a {
    color: inherit;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    font-family: 'Zilla Slab', serif;
}

h2 {
    font-family: 'Crimson Text', serif;
}

.hiding1,
.hiding2,
.hiding3,
.hiding4 {
    display: none;
}

.wrapper {
    padding: 0;
    margin: 0;
}

#intro {
    text-align: left;
    margin-top: 70px;
    font-size: 40px;
    padding-left: 50px;
}

#pulse {
    background-color: #CBA135;
    padding: 0;
}

#projects {
    background-color: #F06449;
}

footer {
    font-size: 15px;
    text-align: center;
}