body{
    background-color: grey;
    font-family: cursive;
}
h1{
    color: darkorange;
    font-weight: bold;
    font-family: sans-serif;
}
h2{
    color: orange;
    font-weight: lighter;
    font-family: sans-serif;
}
h3{
    color:darkorange;
    font-family: sans-serif;
}
.ABOUTME{
    float: right;
    width: 40%;
    align-self:center;
}
.list1{
    width: 40%;
}
.floaters{
    float: right;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
