@media  {
    all(>500px)
}
body{
    background-image: url(https://wallpaperscraft.com/image/flag_russian_empire_colors_background_18443_1920x1080.jpg);
    font-family: cursive;
    color:white;
    text-rendering: optimizeSpeed;
}
h1{
    color: darkorange;
    font-weight: bold;
    font-family: sans-serif;

}
h2{
    color: orange;
    font-weight: lighter;
    font-family: sans-serif;
}
h3{
    color:darkorange;
    font-family: sans-serif;
}
.ABOUTME{
    font-style: italic;
    width:auto;
    align-self:center;
}
.list1{
    width:auto;
}
.floaters{
    float: right;
    align-items: center;
}

#navbar {
    float: right;
    background-color: transparent;
}

li {
    display: inline;
}
#wrapper {
        width: auto;
        height: auto;
        background-color: #ffa011;
        border-left: 5px solid #0f0008;
        border-right: : 5px solid #0f0008
        margin: 0;
        padding: 0;
        overflow: auto;
        margin : 0 auto;
        padding: 10px;
        border-color: white;
        border-bottom: 5px solid #0f0008;
}
a:link {
    background-color: transparent;
}

a:visited {
    background-color: white;
}

a:hover {
    background-color: orange;
}

.welcome{
    font-size: 35px;
    text-align: center;
}
#poetry{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    overflow: auto;
    margin : 0 auto;
    padding: 40px;
    text-align: justify;
}
iframe{
    float:left;
}
.parallax {
    /* The image used */
    background-image: url("https://wallpaperscraft.com/image/flag_russian_empire_colors_background_18443_1920x1080.jpg");

    /* Set a specific height */
    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
